<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="static\js_registration.js"></script>
</head>
<body>
    <form id="signUp-form" action="/signUp" method="post">
        <h1>Регістрація</h1>
        <p>Ім'я:</p>
        <input type="text" id="name" name="name">
        <p>Пароль:</p>
        <input type="text" id="password" name="password">
        <input type="submit" name="btn" id="btn" value="Зареєструватись">
    </form>

    <div id="result"></div>
</body>
</html>
