<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question7</title>
    <script src="static\my_mini_project_js.js"></script>
</head>
<body>
    <form id="question7-form" action="/question7" method="post">
        <h3>Тест "Наскільки ви схожі на мене"</h3>
        <p>Яка ваша улюблена погода?</p>
        <p><input type="submit" name="q7_info" id="q7_info1" value="Ясно"></p>
        <p><input type="submit" name="q7_info" id="q7_info2" value="Ясно та вітер"></p>
        <p><input type="submit" name="q7_info" id="q7_info3" value="Похмуро"></p>
        <p><input type="submit" name="q7_info" id="q7_info4" value="Похмуро та вітер"></p>
        <p><input type="submit" name="q7_info" id="q7_info5" value="Легкий дощ"></p>
        <p><input type="submit" name="q7_info" id="q7_info6" value="Легкий дощ з вітром"></p>
        <p><input type="submit" name="q7_info" id="q7_info7" value="Дощ"></p>
        <p><input type="submit" name="q7_info" id="q7_info8" value="Злива"></p>
        <p><input type="submit" name="q7_info" id="q7_info9" value="Злива з вітром"></p>
        <p><input type="submit" name="q7_info" id="q7_info10" value="Гроза"></p>
        <p><input type="submit" name="q7_info" id="q7_info11" value="Гроза з дощем"></p>
        <p><input type="submit" name="q7_info" id="q7_info12" value="Гроза зі зливою"></p>
        <p><input type="submit" name="q7_info" id="q7_info13" value="Повільний маленький сніг"></p>
        <p><input type="submit" name="q7_info" id="q7_info14" value="Повільний товстий сніг"></p>
        <p><input type="submit" name="q7_info" id="q7_info15" value="Швидкий маленький сніг"></p>
        <p><input type="submit" name="q7_info" id="q7_info16" value="Швидкий товстий сніг"></p>
        <p><input type="submit" name="q7_info" id="q7_info17" value="Інша"></p>
        <p><input type="submit" name="q7_info" id="q7_info18" value="Не знаю"></p>
    </form>

    <div id="result"></div>
</body>
</html>
