<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question4</title>
    <script src="static\my_mini_project_js.js"></script>
</head>
<body>
    <form id="question4-form" action="/question4" method="post">
        <h3>Тест "Наскільки ви схожі на мене"</h3>
        <p>Які ваші улюблені фрукти?</p>
        <p><input type="submit" name="q4_info" id="q4_info1" value="Яблуко, мандаринки, апельсин, вишня"></p>
        <p><input type="submit" name="q4_info" id="q4_info2" value="Черешня, яблуко, мандаринки, манго"></p>
        <p><input type="submit" name="q4_info" id="q4_info3" value="Яблуко, гранат, помело, мандаринки"></p>
        <p><input type="submit" name="q4_info" id="q4_info4" value="Помело, грейпфрут, мандарнки, манго"></p>
        <p><input type="submit" name="q4_info" id="q4_info5" value="Інші варіанти"></p>
    </form>

    <div id="result"></div>
</body>
</html>
