<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="static\js_registration.js"></script>
</head>
<body>
    <form id="login-form" action="/login" method="post">
        <h3>Вхід в акаунт</h3>
        <p>Введіть ваше ім'я:</p>
        <input type="text" name="username" id="username" required>

        <p>Введіть ваш пароль:</p>
        <input type="text" name="password" id="password" required>
    </form>

    <div id="result"></div>
</body>
</html>
