<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question10</title>
    <script src="static\my_mini_project_js.js"></script>
</head>
<body>
    <form id="question10-form" action="/question10" method="post">
        <h3>Тест "Наскільки ви схожі на мене"</h3>
        <p>Який ваш улюблений шкільний предмет?</p>
        <p><input type="submit" name="q10_info" id="q10_info1" value="Рідна мова"></p>
        <p><input type="submit" name="q10_info" id="q10_info2" value="Література"></p>
        <p><input type="submit" name="q10_info" id="q10_info3" value="Англійська мова"></p>
        <p><input type="submit" name="q10_info" id="q10_info4" value="Німецька мова"></p>
        <p><input type="submit" name="q10_info" id="q10_info5" value="Інша зарубіжна мова"></p>
        <p><input type="submit" name="q10_info" id="q10_info6" value="Математика"></p>
        <p><input type="submit" name="q10_info" id="q10_info7" value="Фізика"></p>
        <p><input type="submit" name="q10_info" id="q10_info8" value="Хімія"></p>
        <p><input type="submit" name="q10_info" id="q10_info9" value="Біологія"></p>
        <p><input type="submit" name="q10_info" id="q10_info10" value="Географія"></p>
        <p><input type="submit" name="q10_info" id="q10_info11" value="Фізкультура"></p>
        <p><input type="submit" name="q10_info" id="q10_info12" value="Хореографія"></p>
        <p><input type="submit" name="q10_info" id="q10_info13" value="Інформатика"></p>
        <p><input type="submit" name="q10_info" id="q10_info14" value="Малювання"></p>
        <p><input type="submit" name="q10_info" id="q10_info15" value="Креслення"></p>
        <p><input type="submit" name="q10_info" id="q10_info16" value="Музика"></p>
        <p><input type="submit" name="q10_info" id="q10_info17" value="Астрономія"></p>
        <p><input type="submit" name="q10_info" id="q10_info18" value="Перерва"></p>
        <p><input type="submit" name="q10_info" id="q10_info19" value="Інше"></p>
        <p><input type="submit" name="q10_info" id="q10_info20" value="Не знаю"></p>
        <p><input type="submit" name="q10_info" id="q10_info21" value="Усі, обожнюю ходити в школу"></p>
        <p><input type="submit" name="q10_info" id="q10_info22" value="Ніякий, ненавиджу ходити в школу"></p>
    </form>

    <div id="result"></div>
</body>
</html>
