<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question8</title>
    <script src="static\my_mini_project_js.js"></script>
</head>
<body>
    <form id="question8-form" action="/question8" method="post">
        <h3>Тест "Наскільки ви схожі на мене"</h3>
        <p>Яка ваша улюблена цифра?</p>
        <input type="submit" name="q8_info" id="q8_info1" value="0">
        <input type="submit" name="q8_info" id="q8_info2" value="1">
        <input type="submit" name="q8_info" id="q8_info3" value="2">
        <input type="submit" name="q8_info" id="q8_info4" value="3">
        <input type="submit" name="q8_info" id="q8_info5" value="4">
        <input type="submit" name="q8_info" id="q8_info6" value="5">
        <input type="submit" name="q8_info" id="q8_info7" value="6">
        <input type="submit" name="q8_info" id="q8_info8" value="7">
        <input type="submit" name="q8_info" id="q8_info9" value="8">
        <input type="submit" name="q8_info" id="q8_info10" value="9">
        <input type="submit" name="q8_info" id="q8_info11" value="Не знаю">
    </form>

    <div id="result"></div>
</body>
</html>
