<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question5</title>
    <script src="static\my_mini_project_js.js"></script>
</head>
<body>
    <form id="question5-form" action="/question5" method="post">
        <h3>Тест "Наскільки ви схожі на мене"</h3>
        <p>Які ваші улюблені ягоди?</p>
        <p><input type="submit" name="q5_info" id="q5_info1" value="Огірок, малина, полуниця, лохина"></p>
        <p><input type="submit" name="q5_info" id="q5_info2" value="Кавун, полуниця, малина, виноград"></p>
        <p><input type="submit" name="q5_info" id="q5_info3" value="Полуниця, помідор, виноград, чорниця"></p>
        <p><input type="submit" name="q5_info" id="q5_info4" value="Полуниця, малина, суниця, чорниця"></p>
        <p><input type="submit" name="q5_info" id="q5_info5" value="Виноград, помідор, диня, малина"></p>
        <p><input type="submit" name="q5_info" id="q5_info6" value="Огірок, полуниця, кавун, виноград"></p>
        <p><input type="submit" name="q5_info" id="q5_info7" value="Кавун, малина, помідор, полуниця"></p>
        <p><input type="submit" name="q5_info" id="q5_info8" value="Чорниця, лохина, суниця, чорна смородина"></p>
        <p><input type="submit" name="q5_info" id="q5_info9" value="Помідор, огірок, диня, гарбуз"></p>
        <p><input type="submit" name="q5_info" id="q5_info10" value="Кавун, диня, гарбуз"></p>
        <p><input type="submit" name="q5_info" id="q5_info11" value="Суниця, полуниця, огірок, малина"></p>
        <p><input type="submit" name="q5_info" id="q5_info12" value="Інші варіанти"></p>
    </form>

    <div id="result"></div>
</body>
</html>
