<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question6</title>
    <script src="static\my_mini_project_js.js"></script>
</head>
<body>
    <form id="question6-form" action="/question6" method="post">
        <h3>Тест "Наскільки ви схожі на мене"</h3>
        <p>Яка ваша улюблена пора року?</p>
        <input type="submit" name="q6_info" id="q6_info1" value="Зима">
        <input type="submit" name="q6_info" id="q6_info2" value="Весна">
        <input type="submit" name="q6_info" id="q6_info3" value="Літо">
        <input type="submit" name="q6_info" id="q6_info4" value="Осінь">
        <input type="submit" name="q6_info" id="q6_info5" value="Не знаю">
    </form>

    <div id="result"></div>
</body>
</html>
