<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Реєстрація</h3>
    <form action="/signup" method="post" id="signup-form">
        <p>Введіть ваше ім'я:</p>
        <input type="text" name="username" id="username" required>

        <p>Введіть ваш пароль:</p>
        <input type="text" name="password" id="password" required>

        <p>Підтвердіть ваш пароль:</p>
        <input type="text" name="conpfirm-password" id="conpfirm-password" required>

        <p>Введіть вашу пошту:</p>
        <input type="text" name="mail" id="mail" required>
        <input type="submit" name="btn" id="btn" value="Зареєструватись">
    </form>
</body>
</html>
